<footer class="main-footer">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-4">
                <article class="footer-data">
                    <i class="fas fa-credit-card"></i>
                    <h2>Pagá con tarjeta o en efectivo</h2>
                    <p>Con The Fantasy Surprise, obtene chocolates gratis con tu compra superior a $3000!</p>
                </article>
            </div>
            <div class="col-12 col-lg-4">
                <article class="footer-data">
                    <i class="fas fa-gift"></i>
                    <h2>Envios a todo el país </h2>
                    <p>Con tu compra, estas sumando puntos para obtener premios increibles todos los meses</p>
                </article>
            </div>
            <div class="col-12 col-lg-4">
                <article class="footer-data">
                    <i class="fas fa-user-shield"></i>
                    <h2> En The Fantasy la seguridad esta garantizada</h2>
                    <p> Gracias a Agustina Breitfeld, Ignacia Doldan y Matias Calo</p>
                </article>
            </div>
        </div>
    </div>
</footer>