<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%-include('./partials/head.ejs', {titulo:'Resultado de busqueda - The Fantasy'})%>

<body>
	<!-- Header -->
	<%-include('./partials/header.ejs')%>
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title"><%= message %></h2>
			</div>
			<!-- Show search products -->
			<!-- footer -->
			<%-include('./partials/footer.ejs')%>
			<!-- /footer -->

</body>

</html>