<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<%-include('./partials/head.ejs')%>

<body>
	<!-- Header -->
	<%-include('./partials/header.ejs')%>
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Ingresar</h2>
			</div>
			<section class="form-register">
				<form method="get" name="form-register">
					<input class="form-input" type="email" name="Email" placeholder="Ingrese su email">
					<input class="form-input" type="password" name="Contrasenia" placeholder="Ingrese su contraseña">
					<p>Recordarme</p>
					<input class="form-input" type="checkbox" name="Recordarme" placeholder="Recordarme">
					<input class="form-input" class="boton" type="submit" value="Login">
				</form>
			</section>


			<!-- footer -->
			<%-include('./partials/footer.ejs')%>
			<!-- /footer -->
</body>

</html>