<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<%-include('./partials/head.ejs', {titulo:'Agregar producto - The Fantasy'})%> 

<body>
	<!-- Header -->
	<%-include('./partials/headerLogueado.ejs',{usuario:usuario.nombreUsuario})%>
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Agregar productos</h2>
			</div>
			<!-- Show the "ultimos" products -->
				<section class="form-register">
				<form method="get" name="form-register">
					<input class="form-input" type="text" name="Nombre del productos" placeholder="Nombre del producto">
					<input class="form-input" type="text" name="Descripcion" placeholder="Descripcion">
					<input class="form-input" type="date" name="Fecha" placeholder="Ingrese una fecha">
					<input class="form-input" type="file" name="Imagen" placeholder="Ingrese imagen de producto" value="Ingrese Imagen">
					<a class="btn mt-3 ml-4" href="/">POSTEAR PRODUCTO</a>				
				</form>
			</section>
			
	<!-- footer -->
	<%-include('./partials/footer.ejs')%>
	<!-- /footer -->
</body>

</html>