<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%-include('./partials/head.ejs', {titulo:'Registrate - The Fantasy'})%>

<body>
	<!-- Header -->
	<%-include('./partials/header.ejs')%>
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Registrate</h2>
			</div>
			<section class="form-register">
				<form action="/users/store" method="post" name="form-register" enctype="multipart/form-data">
					<input class="form-input" type="email" name="email" id="nombres" placeholder="Ingrese su email">
					<input class="form-input" type="text" name="nombreUsuario" id="nombres" placeholder="Ingrese su usuario">
					<input class="form-input" type="password" name="contrasena" id="nombres"
						placeholder="Ingrese su Contraseña">
					<input class="form-input" type="date" name="nacimiento" id="nombres" placeholder="Ingrese su fecha de nacimiento">
					<input class="form-input" type="number" name="documento" id="nombres" placeholder="Ingrese su documento">
					<input class="form-input" type="file" name="imagen" id="nombres" placeholder="Foto de perfil">
					<p>Estoy de acuerdo con <a href="/users/register"> Terminos y condiciones</a></p>
					<button type="submit">Registrarme</button>
				</form>
			</section>

			<!-- footer -->
			<%-include('./partials/footer.ejs')%>
			<!-- /footer -->
</body>

</html>