<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%-include('./partials/head.ejs')%> 
<body>
	<!-- Header -->
	<%-include('./partials/headerLogueado.ejs')%>
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Registrate</h2>
			</div>
			<section class="form-register">
				<form method="get"name="form-register">
				<input class="form-input" type="email" name="Nombre" id="nombres" placeholder="Ingrese su Email">
				<input class="form-input" type="text" name="Usuario" id="nombres" placeholder="Ingrese su Usuario">
				<input class="form-input" type="password" name="Contraseña" id="nombres" placeholder="Ingrese su Contraseña">
				<input class="form-input" type="date" name="Nombre" id="nombres" placeholder="Ingrese su fecha de nacimiento">
				<input class="form-input" type="number" name="Nombre" id="nombres" placeholder="Ingrese su nro de documento">
				<input class="form-input" type="file" name="Nombre" id="nombres" placeholder="Foto de perfil">
				<input class="form-input" type="number" name="Nombre" id="nombres" placeholder="Ingrese su nro de documento">
				<p>Estoy de acuerdo con <a href="#"> Terminos y condiciones</a></p>
				<input class="boton" type="submit" value="register">
				</form>
			</section>

		
			
			Recuerden todo lo que necesita tanto la etiqueta form como los campos input para operar correctamtente</i> <br>
			////////////////
			</h2>


	<!-- footer -->
	<%-include('./partials/footer.ejs')%>
	<!-- /footer -->
</body>

</html>